#main_background {
	background-image: url("images/bkgd/main_bkgd.jpg");
	background-size: cover;
	background-position: 15%;
	background-repeat: no-repeat;
}

#the_terminator {
	background-image: url("images/bkgd/The_Terminator.jpg");
	background-size: 100% 100%;
}

#terminator_2 {
	background-image: url("images/bkgd/Terminator_2.jpg");
	background-size: 100% 100%;
}

#terminator_3 {
	background-image: url("images/bkgd/Terminator_3.jpg");
	background-size: 100% 100%;
}

#terminator_salvation {
	background-image: url("images/bkgd/Terminator_Salvation.jpg");
	background-size: 100% 100%;
}

#terminator_genisys {
	background-image: url("images/bkgd/Terminator_Genisys.jpg");
	background-size: 100% 100%;
}

table {
	margin-top: 2%;
}

.header {
	color: white;
	border-style: solid;
	border-color: grey;
}

.table {
	color: white;
}

.aside {
	color: white;
	background-color: black;
	border-style: solid;
	border-color: grey;
	padding: 20px;
}

.footer {
	color: white;
	background-color: black;
	border-style: solid;
	border-color: grey;
}

.footer_1 {
	color: white;
	background-color: black;
	position: relative;
}

.footer_2 {
	color: white;
	background-color: black;
	position: relative;
}

.footer_3 {
	color: white;
	background-color: black;
	position: relative;
}

.footer_4 {
	color: white;
	background-color: black;
	position: relative;
}

.footer_5 {
	color: white;
	background-color: black;
	position: relative;
}

.image {
	opacity: 0;
}

.summary_1 {
	color: white;
	background-color: black;
}

.summary_2 {
	color: white;
	background-color: black;
}

.summary_3 {
	color: white;
	background-color: black;
}

.summary_4 {
	color: white;
	background-color: black;
}

.summary_5 {
	color: white;
	background-color: black;
}